.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 30px 0;
  width: 80vw;

  &__title {
    & p {
      color: #fa8900;
      font-weight: 500;
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }

  &__cards-cont {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70vw;
  }

  &__card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
    width: 600px;

    & img {
      border-radius: 50%;
      filter: grayscale(100%);
      width: 250px;
    }
  }

  &__card_name {
    color: $altira-darkblue;
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
    justify-content: center;
    line-height: 1.2em;
    margin-top: 45px;
    width: 250px;
  }
  & a {
    color: $altira-color;
    text-decoration: none;
  }

  & a:hover {
    color: $altira-neonblue;
  }
}
// }

/* ------ ANIMATIONS ------ */
.about-image-animation {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .about-container {
    margin: auto;
    width: 70vw;

    &__title p {
      display: block;
      text-align: center;
    }
    &__cards-cont {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__card {
      width: 50vw;
    }

    & img {
      margin: 0;
      width: 14em;
    }
  }
}

//large screens
@media only screen and (min-width: 1392px) {
  .about-container {
    margin: auto;
    width: 60vw;

    &__cards-cont {
      margin: auto;
      width: 50vw;
    }
  }
}
