.values-container {
  background-color: $altira-lightblue;
  padding: 1em 0;
  position: relative;
  &::before {
    content: "";
    background: radial-gradient(circle, transparent 25%, #ffffff 26%),
      linear-gradient(
        0deg,
        transparent 44%,
        #11b5e4 45%,
        #11b5e4 55%,
        transparent 56%
      ),
      linear-gradient(
        90deg,
        transparent 44%,
        #11b5e4 45%,
        #11b5e4 55%,
        transparent 56%
      );
    background-color: #ffffff;
    background-size: 1em 1em;
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.slider__container {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  width: 90vw;
}

.slider-card {
  align-items: center;
  background-color: #fafcff;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0px 8px 24px -5px rgba(95, 97, 102, 0.75);
  display: flex !important;
  flex-direction: column;
  width: 200px;
  height: 300px;
  outline: 3px dashed $altira-darkblue;
  outline-offset: -20px;
  padding: 20px;
  position: relative;

  &__title {
    color: $altira-darkblue;
    font-family: $title-font;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__text {
    color: $altira-darkblue;
    font-family: $text-font;
    font-size: 0.9em;
    justify-content: center;
    line-height: 1em;
    margin: 5px;
    padding: 10px;
    position: absolute;
    top: 170px;
  }

  & p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    word-wrap: break-word;
  }
}

.slider-card:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .slider__container {
    display: none;
  }
  .values-container,
  .values-container::before {
    display: none;
  }
}

//large screens
@media only screen and (min-width: 1900px) {
  .slider__container {
    max-width: 60vw;
  }
}
