.hero__container {
  display: flex;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  &__title {
    color: #11446e;
    display: inline-block;
    font-family: $title-font;
    font-size: 56px;
    font-weight: 400;
    line-height: 62px;
    max-width: 500px;
    text-transform: uppercase;
  }
  &__description {
    color: #5f6166;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.8em;
    width: 440px;
  }

  &__button-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 300px;

    & a {
      text-decoration: none;
    }
  }
  &__button {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 50px;
    margin-top: 30px;
    width: 130px;

    &:hover {
      background-color: $altira-orange;
      color: $altira-darkblue;
    }
    &_transparent {
      background-color: transparent;
      border: 2px solid $altira-darkblue;
      color: $altira-darkblue;
      justify-content: center;
    }

    &_filled {
      background-color: $altira-darkblue;
      border: none;
      color: $altira-white;
      justify-content: center;
    }

    & p {
      font-family: $title-font;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.4em;
      text-transform: uppercase;
    }
  }
}

.hero-image img {
  box-shadow: 0px 8px 24px -5px rgba(95, 97, 102, 0.75);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 348px;
  width: 576px;
  z-index: -1;
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .hero__container {
    width: 90%;
    margin: auto;
  }

  .hero-text {
    &__title {
      font-size: 42px;
      line-height: 60px;
      max-width: 300px;
    }
    &__description {
      font-size: 14px;
      max-width: 220px;
    }

    &__button-container {
      max-width: fit-content;
    }

    &__button {
      margin-right: 5vw;
      max-width: 100px;
    }
  }

  .hero-image {
    display: none;
  }
}
