.kontakt-body {
  background-color: $altira-lightblue;
  position: relative;

  &::before {
    content: "";
    background: radial-gradient(circle, transparent 25%, #ffffff 26%),
      linear-gradient(
        0deg,
        transparent 44%,
        #11b5e4 45%,
        #11b5e4 55%,
        transparent 56%
      ),
      linear-gradient(
        90deg,
        transparent 44%,
        #11b5e4 45%,
        #11b5e4 55%,
        transparent 56%
      );
    background-color: #ffffff;
    background-size: 1em 1em; //size of the crosses
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.kontakt-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
}

.title-box_white {
  background-color: $altira-white !important;
  box-shadow: none !important;
  margin-bottom: 60px !important;
}

.kontakt__address {
  margin-right: 30px;
  max-width: 40%;

  &_details {
    background-color: rgba(95, 97, 102, 0.8);
    box-shadow: 0px 8px 24px -5px rgba(95, 97, 102, 0.75);
    padding: 30px;

    &-post {
      margin-bottom: 60px;
      & h3 {
        color: $altira-white;
        font-family: $text-font;
        font-size: 1em;
        font-weight: 700;
        line-height: 1.2em;
      }

      & p {
        color: $altira-white;
        font-family: $text-font;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2em;
      }
    }

    &-media {
      & div {
        align-items: center;
        display: flex;
        margin: 20px 0;
        width: 70%;
      }

      & a {
        color: $altira-white;
        margin-left: 20px;
        text-decoration: none;
      }

      & a:hover {
        color: $altira-lightblue;
      }
    }
  }

  &_map {
    margin-top: 70px;
    max-width: fit-content;
  }
}

.kontakt__form {
  background-color: rgba(95, 97, 102, 0.8);
  box-shadow: 0px 8px 24px -5px rgba(95, 97, 102, 0.75);
  max-width: 50%;
  padding: 30px;
  & h3 {
    color: $altira-white;
    font-family: $title-font;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.2em;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  & form {
    display: flex;
    flex-direction: column;
  }

  &_sender-input {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 100%;

    & label {
      display: inline-block;
      color: $altira-white;
      font-size: 1em;
      max-width: 30%;
    }

    & input {
      color: $altira-color;
      font-family: $text-font;
      font-size: 1em;
      font-weight: 600;
      height: 30px;
      max-width: 70%;

      &:focus {
        background-color: $altira-orange;
        color: $altira-darkblue;
        outline: none;
      }

      &::placeholder {
        font-size: 0.8em;
        font-style: oblique;
        opacity: 0.5;
      }
    }

    & input[type="text"],
    & input[type="tel"],
    & input[type="email"] {
      border: none;
    }

    & textarea {
      color: $altira-color;
      font-family: $text-font;
      font-size: 1em;
      font-weight: 600;
      height: 300px;
      resize: none;
      width: 100%;

      &:focus {
        background-color: $altira-orange;
        color: $altira-darkblue;
        outline: none;
      }

      &::placeholder {
        font-size: 0.8em;
        font-style: oblique;
        opacity: 0.5;
        padding: 15px;
      }
    }
  }

  &_button {
    display: flex;
    justify-content: center;

    & button {
      font-family: $title-font;
      text-transform: uppercase;
    }
  }
}

//swal modifications
.swal-title {
  color: $altira-color;
  font-family: $title-font !important;
  text-transform: uppercase !important;
}

.swal-modal {
  background-color: $altira-white;
}

.swal-text {
  color: $altira-color;
  font-family: $text-font;
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .kontakt-body,
  .kontakt-body::before {
    margin: auto;
    width: 100vw;
  }

  .kontakt-container {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .kontakt__address,
  .kontakt__form {
    margin: auto;
    max-width: 100%;
  }

  .kontakt__address {
    margin-top: 45px;
    &_details {
      max-width: 100%;
    }

    &_map {
      max-width: 100% !important;
      // margin-bottom: 70px;
    }
  }

  .kontakt__form {
    padding: 3%;
    max-width: 100%;
    & h3 {
      font-size: 1.6em;
    }

    & form {
      max-width: 100%;
    }
    &_sender-input {
      flex-direction: column;
      & input {
        margin-top: 3%;
      }
    }

    &_button {
      margin-bottom: 15px;
    }
  }

  iframe {
    display: none;
  }
}
