.navbar-container {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $altira-white;
  width: 100%;
  box-shadow: 0px 5px 5px -5px rgba(95, 97, 102, 0.75);
}
.navbar {
  max-height: 60px;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.3em 0;

  &__logo {
    display: flex;
    width: 20%;
  }

  &__links {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    & a {
      color: $altira-darkblue;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      margin-right: 1.3em;
      align-items: center;
    }

    & a:last-child {
      margin-right: 0;
    }

    & a:hover {
      border-bottom: 2px solid $altira-neonblue;
      transition: 200ms;
    }
  }
}

.mobile-navbar {
  display: none;
}

.active {
  opacity: 0.6;
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .navbar {
    max-width: 90vw;
  }

  .mobile-navbar {
    display: block;
  }

  .navbar__links {
    display: none;
  }

  .show {
    display: block;
  }
}
