.navbar-container {
  background-color: $altira-white;
  box-shadow: 0px 5px 5px -5px rgba(95, 97, 102, 0.75);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  font-weight: 500;
  justify-content: space-between;
  margin: auto;
  max-height: 60px;
  padding: 1.3em 0;
  text-transform: uppercase;
  width: 80vw;

  &__logo {
    display: flex;
    width: 20%;
  }

  &__links {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    &:hover {
      cursor: pointer;
    }
    & a {
      align-items: center;
      border-bottom: 2px solid transparent;
      color: $altira-darkblue;
      margin-right: 1.3em;
      text-decoration: none;
    }

    & a:last-child {
      margin-right: 0;
    }

    & a:hover {
      border-bottom: 2px solid $altira-neonblue;
      transition: 200ms;
    }
  }
}

.active {
  opacity: 0.6;
}

.mobile-navbar {
  display: none;
}

/* ------ RESPONSIVENESS ------ */
//large screens
@media only screen and (min-width: 1900px) {
  .navbar {
    max-width: 60vw;
  }
}
//mobiles
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .mobile-navbar__list {
    display: none;
    & ul {
      list-style: none;
    }
  }
  .show {
    display: block;
  }

  .navbar-container {
    // border: 1px red solid;
    display: block;
    margin: auto;
  }

  .mobile-navbar {
    // border: 1px orange solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 5px 0;
    width: 90%;

    &__logo {
      margin-top: 5px;
    }
  }

  .mobile-navbar__button {
    & button {
      align-items: center;
      border: 2px solid $altira-lightblue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: 40px;
      width: 40px;
    }
  }

  .mobile-navbar__links {
    // border: 1px blue solid;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .mobile-navbar__list {
    // border: 1px brown solid;
    & li {
      margin-bottom: 10px;
      padding: 5px;
    }
    & li:nth-child(odd) {
      background: $altira-lightblue;
      color: $altira-white;
    }
  }
}
