.reference-cards {
  display: flex;
  justify-content: space-between;
}

.ref-card {
  transition: 0.3s;
}

.reference-cards:hover > :not(:hover) {
  background-color: $altira-color;
  color: $altira-darkblue;
  opacity: 0.4;
}

.ref-card {
  border: 3px solid $altira-orange;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(250, 137, 0, 0.75);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(250, 137, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(250, 137, 0, 0.75);
  height: 250px;
  margin: auto;
  padding: 30px;
  width: 200px;

  &__text {
    color: $altira-color;
    display: block;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.3em;
    margin: auto;
    width: 80%;
  }

  &__image {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    height: 50%;
    justify-content: center;
    margin: auto;
    padding: 5%;
    width: 80%;
  }
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .reference-cards {
    align-content: space-between;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-content: center;
    justify-items: center;
    margin-top: 45px;
  }

  .reference-cards:hover > :not(:hover) {
    background-color: white;
    opacity: 1;
  }
}
