* {
  // border: green 1px solid;
  // overflow-x: hidden;
}

.sluzby-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;

  & h2 {
    color: $altira-color;
    font-family: $title-font;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.6em;
    text-transform: uppercase;
  }

  &__text {
    max-width: 400px;

    &_list {
      padding-left: 0;

      & li {
        align-items: center;
        display: flex;
        list-style: none;

        & p {
          color: $altira-color;
          font-weight: 500;
          line-height: 1.2em;
          margin-left: 10px;
          word-wrap: break-word;
        }

        & svg {
          overflow: visible;
        }
      }
    }

    &_description {
      color: $altira-color;
      font-weight: 500;
      line-height: 1.8em;
      max-width: 350px;
      overflow-x: hidden;
    }
  }

  &__image {
    & img {
      box-shadow: 0px 8px 24px -5px rgba(95, 97, 102, 0.75);
      object-fit: fill;
      max-width: 100%;
      height: auto;
    }
  }
}

.padding-right {
  padding-right: 48px;
}

/* ------ RESPONSIVENESS ------ */
@media only screen and (max-width: 600px) {
  .sluzby-container {
    width: 90%;
  }
  .sluzby-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 10px auto;

    &__image {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      width: fit-content;

      & img {
        margin-top: 1em;
        width: 70%;
      }
    }
  }

  .sluzby-section__text_description,
  .sluzby-section__text_title,
  .sluzby-section__text_list {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .padding-right {
    padding-right: unset;
  }

  .column-reverse {
    flex-direction: column-reverse;
  }
}
