.zis-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: -60px !important; //overwriting container to delete whitespace
  padding: 0 20px 30px 0 !important;

  &__outside {
    margin: 10px auto;
    &_top {
      margin-bottom: 30px;
    }
    &_bottom {
      margin-top: 30px;
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;

    &_triangle {
      position: relative;
      width: 30%;
      &-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-75%, -50%);
        z-index: -1;

        & p {
          width: 150px;
          font-family: $text-font;
          text-transform: uppercase;
          font-size: 1.2em;
          font-weight: 700;
          color: $altira-color;
        }
      }
    }

    &_blob {
      width: 30%;
      display: flex;
      justify-content: center;
      position: relative;

      &-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $altira-white;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    &_description {
      width: 30%;

      & p {
        color: $altira-color;
        font-size: 1em;
        line-height: 1.6em;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .zis-container {
    display: none;
  }
}
