.zkus-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
  margin: 120px auto 0;
  position: relative;

  &__item {
    max-height: 70px;
    max-width: 550px;
    align-items: center;
    display: flex;
    padding: 30px;

    &_text {
      color: $altira-color;
      font-weight: 500;
      font-size: 1.2em;
      margin-left: 30px;
      z-index: 5;
    }
  }
}

.zkus-list::before {
  content: "";
  background: radial-gradient(circle, transparent 25%, #ffffff 26%),
    linear-gradient(
      0deg,
      transparent 44%,
      #11b5e4 45%,
      #11b5e4 55%,
      transparent 56%
    ),
    linear-gradient(
      90deg,
      transparent 44%,
      #11b5e4 45%,
      #11b5e4 55%,
      transparent 56%
    );
  background-color: #ffffff;
  background-size: 1em 1em;
  margin: -30px -60px;
  opacity: 0.15;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .zkus-list::before {
    margin: 0;
  }

  .zkus-list {
    margin-top: 60px;
    &__item {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      max-height: fit-content;
      max-width: 60%;
      padding: 15px;
      text-align: center;
      &_text {
        margin-left: 0;
      }
    }
  }
}
