.zkus-list {
  max-width: 650px;
  margin: 120px auto 0;
  position: relative;

  &__ul {
    &_li {
      list-style: none;
      display: flex;
      align-items: center;
      height: 60px;

      & p {
        margin: 0 0 0 30px;
        font-size: 1.2em;
        color: $altira-color;
        font-weight: 500;
        word-wrap: break-word;
        z-index: 5;
      }
    }
  }
}

.zkus-list::before {
  margin: -30px -60px;
  content: "";
  background: radial-gradient(circle, transparent 25%, #ffffff 26%),
    linear-gradient(
      0deg,
      transparent 44%,
      #11b5e4 45%,
      #11b5e4 55%,
      transparent 56%
    ),
    linear-gradient(
      90deg,
      transparent 44%,
      #11b5e4 45%,
      #11b5e4 55%,
      transparent 56%
    );
  background-size: 1em 1em;
  background-color: #ffffff;
  opacity: 0.15;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 700px) {
  .zkus-list::before {
    margin: 0;
  }

  .zkus-list__ul_li {
    height: fit-content;
    word-wrap: break-word;
  }

  .zkus-list p {
    display: inline-block;
    line-height: 60px;
    font-size: 1.2em;
    margin-left: 50px;
  }
}
