//fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap"); //font-family: 'Oswald', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); //font-family: 'Montserrat', sans-serif;

//variables
$altira-color: #5f6166;
$altira-orange: #fa8900;
$altira-darkblue: #11446e;
$altira-lightblue: #77b6ea;
$altira-neonblue: #11b5e4;
$altira-white: #fafdff;

//font-families
$text-font: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
$title-font: "Oswald", sans-serif, Arial, Helvetica, sans-serif;

//importing stylesheets
@import "./styles/navbar.scss";
@import "./styles/hero.scss";
@import "./styles/carousel.scss";
@import "./styles/sluzby.scss";
@import "./styles/ziskate.scss";
@import "./styles/zkusenosti.scss";
@import "./styles/about.scss";
@import "./styles/kontakt.scss";
@import "./styles/reference.scss";
@import "./styles/footer.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
}

//re-used classes
.container {
  position: relative;
  max-width: 80vw;
  margin: auto;
  padding-top: 3.7em;
  padding-bottom: 3.7em;
}

.title-box {
  width: 80vw;
  height: 3.7em;
  background: rgba(119, 182, 234, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8em;

  & h1 {
    font-family: $title-font;
    color: $altira-darkblue;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.7rem;
    text-transform: uppercase;
  }
}

.contact-button {
  width: 6rem;
  height: 2rem;
  border: 0.1rem solid $altira-orange;
  border-radius: 0.3rem;
  text-transform: uppercase;
  color: $altira-darkblue;
  & p {
    margin: 0;
    font-weight: 500;
    font-family: $title-font;
    font-size: 1rem;
  }

  &:hover {
    background-color: $altira-orange;
    color: $altira-darkblue;
  }
}

/* ------ RESPONSIVENESS ------ */
//mobiles
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
}

//large screens
@media only screen and (min-width: 1392px) {
  .container {
    width: 60vw;
  }
  .title-box {
    width: 60vw;
  }
}
